<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.gatech.cs2340.team49x.spacetrader"
    tools:ignore="GoogleAppIndexingWarning">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/spacetrader"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/spacetrader_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".Activities.InfoActivity"
            android:label="@string/action_info"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.SelectActivity"
            android:label="@string/action_select"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.MarketActivity"
            android:label="@string/action_market"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.TravelActivity"
            android:label="@string/action_game"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.ConfigurationActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>